<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panacea</title>
</head>

<body>
    <h1>Submit File and Name</h1>
    <p>Peer ID: {{.Identity}}</p>
    <form id="uploadForm">
        <label for="name">Name (optional):</label><br />
        <input type="text" id="name" name="name" /><br /><br />

        <label for="file">Choose a file (optional):</label><br />
        <input type="file" id="file" name="file" /><br /><br />

        <input type="submit" value="Submit" />

        <div id="auth-entities-holder">
            <h3>Authorized Entities</h3>
            {{range .AuthorizedPeers}}
            <p>{{.}}</p>
            {{end}}
        </div>

        <div id="added-files-holder">
            <h3>Records</h3>
            {{range .FileHashes}}
            <p>{{.}}</p>
            {{end}}
        </div>


    </form>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', async (e) => {
            e.preventDefault(); // Prevent page reload

            const form = e.target;
            const formData = new FormData(form);

            try {
                const response = await fetch('/form-submit', {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    alert('Form submitted successfully!');
                    form.reset();
                } else {
                    alert('Submission failed.');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred during submission.');
            }

            setTimeout(() => {
                location.reload();
            }, 1000);

        });
    </script>
</body>

</html>